head
  meta(charset='utf-8')
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title taruuuch webpack4 starter kit
  meta(name="description", content="")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  link(rel="shortcut icon", href="img/favicon.ico")
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='#444')
  meta(property='og:title' content='')
  meta(property='og:description' content='')
  meta(property='og:url' content='')
  meta(property='og:image' content='')
  meta(property='og:type' content='website')
